header{
        img{
                display:flex;
                margin:auto;
                width:250px;
        }
        .navbar{
                background-color: map-get($colores, color2);
                li{
                        padding: 0px 20px;}
                a{
                color:white;
                font-weight: bold;
                font-size: map-get($font-size, ti );}
                img{
                      width: 50px;  
                }
        }
}