@mixin titulos{
    margin-top: 40px;
    color: black;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: map-get($font-size , ti );
    text-align: center;
    text-transform: uppercase;
    text-decoration: overline;
}